# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/
tests/
index.html
# Data files
data/*.npy
data/*.pkl
*.log
Search-engine-api.ppk
# OS
.DS_Store
Thumbs.db
Docs/
Search-engineapi.ppk
# Distribution / packaging
dist/
build/
*.egg-info/
